- content_for :title do
  Fácil, fácil!

#shortener-form
  = form_for @url, html: { class: "form-inline" } do |f|
    = render "error_messages", object: @url
    %p
      = f.text_field :original, placeholder: "URL a ser encurtada", required: true

      = f.submit "Encurtar!", class: "btn"
