@import "bootstrap";

.container { margin: 0 auto; width: 960px; }


// HEADER

#header {
  height: 70px;
  line-height: 70px;
  margin-bottom: 50px;
  border-bottom: 1px solid grey;
}

#logo { float: left; }

#login-nav { float: right; }


// MAIN

#shortener-form {
  text-align: center;
}
